<!DOCTYPE html>
<html>
<head>
	<title>Watch' Next</title>
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
	<div class="index mui-container">
		<div class="mui-row">
			<div class="mui-col-xs-12">
				<div class="search">
					<section>
						<form class="mui-form-inline form-search">
							<a id="back-to-main" class="mui-hide">
								<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
							</a>
							<input id="query-series" class="mui-form-control" type="text" 
								placeholder="Find new series...">
							<a id="search" class="">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</a>
						</form>
					</section>
				</div>
			</div>
			<div class="mui-col-xs-12">
				<div class="main">
					<div class="mui-divider"></div>
					<h4 class="mui-text-display1 mui-text-black"></h4>
					<section class="main-section">

					</section>
				</div>
			</div>
		</div>
	</div>
	<script type="text/html" id="template-details">
		<div class="mui-panel info">
			<div class="series-image">
				<% if(!_.isNull(series.image) && series.image.length > 0){ %>
					<img src="http://image.tmdb.org/t/p/w92<%= series.image %>">
				<% } else{%>
					<img src="assets/no_img.png">
				<% } %>
			</div>
			<div class="series-name">
				<h5><%- series.name %></h5>
				<% if(series.inProduction){ %>
					Still in production
					<span class="continues">
						<% 
						var now = Date.now(),
							soonest = now,
							nextEpisode = null,
							nextSeason = null;
						_.each(series.seasons, function(season, indexSeason, listSeason){ 
							_.each(season.episodes, function(episode, indexEpisode, list){
								var episodeDate = new Date(episode.date);
								if((episodeDate.getTime() - now < soonest) && (episodeDate.getTime() - now > 0)){
									soonest = episodeDate.getTime() - now;
									nextEpisode = episode;
									nextSeason = season;
								}
							});
						});
						if(!_.isNull(nextEpisode)){ 
							var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
							var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
							var dateNextEpisode = new Date(nextEpisode.date);
							var dateString = days[parseInt(dateNextEpisode.getUTCDay(), 10)] + ", " + months[parseInt(dateNextEpisode.getUTCMonth(), 10)] + " " + dateNextEpisode.getDate();
							%>
							:&#32;Season <%= nextSeason.number %> continues on <em><%= dateString %></em>
						<%
						}
						%>
					</span>
				<% }else{ %>
					No episodes are coming...
				<% } %>
			</div>

			<div class="clear"></div>
		</div>
		<ul class="list-seasons" id="<%= series.id %>">
			<% _.each(series.seasons, function(season, indexSeason, listSeason){ %>
				<% if(season.episodes.length < 1){ return; } %>
				<li id="<%= season.id %>" class="single-season">
					<div class="mui-checkbox checkmark checkmark-season">
						<%  var allChecked = true;
							_.each(season.episodes, function(episode, indexEpisode, list){ 
								if(!episode.watched){
									allChecked = false;
								}
							});
						%>

						
						<input class="watched-season" type="checkbox" data-season="<%= indexSeason %>"
							<% if(allChecked){ %>
								checked
							<% } %>
						>
						<label>	
						</label>
					</div>
					<div class="season-number">
						<span><%- season.number %>. Season</span>
					</div>
					<div>
						<% if(season.episodes.length > 0){ %>
							<button class="expand mui-btn mui-btn-primary">Show episodes</button>
						<% }else{ %>
							New episodes are coming...
						<% } %>
					</div>
					<div>
						<ul class="list-episodes">
							<% _.each(season.episodes, function(episode, indexEpisode, list){ %>
								<li id="<%= episode.id %>" class="episode">
									<%= indexEpisode + 1 %>.&#32;<%= episode.name %>
									<% if(nextEpisode.id === episode.id){ %>
										</br><span class="mui-text-caption">Next Episode</span>
									<% } %>
									<div class="mui-checkbox checkmark">
										<input name="cb-<%= indexEpisode %>" class="watched-episode" type="checkbox" data-episode="<%= indexEpisode %>" data-season="<%= indexSeason %>"
											<% if(episode.watched){ %>
												checked
											<% }else{ %>
												
											<% } %>
										>	
										<label>	
										</label>
									</div>
								</li>
								<div class="mui-divider"></div>
							<% }); %>
						</ul>
					</div>
				</li>
			<% }); %>
		</ul>
	</script>
	<script type="text/html" id="template-series-list">
		<ul class="list-series">
			<% _.each(seriesList, function(element, index, list){ %>
				<li id="<%= element.id %>">
					<div class="series-image">
					<% if(!_.isNull(element.image) && element.image.length > 0){ %>
						<img src="http://image.tmdb.org/t/p/w92<%= element.image %>">
					<% } else{%>
						<img src="assets/no_img.png">
					<% } %>
					</div>
					<div class="series-name">
						<% 
						var now = Date.now(),
							soonest = now,
							date = null,
							nextEpisode = null,
							day = null;
						_.each(element.seasons, function(season, indexSeason, listSeason){ 
							_.each(season.episodes, function(episode, indexEpisode, list){
								var episodeDate = new Date(episode.date);
								if((episodeDate.getTime() - now < soonest) && (episodeDate.getTime() - now > 0)){
									soonest = episodeDate.getTime() - now;
									nextEpisode = episode;
								}
							});
						});

						if(!_.isNull(nextEpisode)){
							date = new Date(nextEpisode.date);
						}
						
						if((!_.isNull(date)) && (date.getTime() < (now + 518400000))){
							var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
							day = days[parseInt(date.getUTCDay(), 10)];
						}
						%>
						<h5><%- element.name %><% if(!_.isNull(day)){%><span class="continues-this-week mui-text-caption">&#32;&#32;Continues on <%= day %></span><%}%></h5>
						<button class="details mui-btn mui-btn-primary">Show details</button>
						<button class="delete mui-btn mui-btn-primary">Delete</button>
					</div>
					<div class="clear"></div>
				</li>
			<% }); %>
		</ul>
	</script>
	<script type="text/html" id="template-search-results">
		<ul class="list-series">
			<% _.each(results, function(element, index, list){ %>
				<li id="<%= element.id %>">
					<div class="series-image">
					<% if(!_.isNull(element.image) && element.image.length > 0){ %>
						<img src="http://image.tmdb.org/t/p/w92<%= element.image %>">
					<% } else{%>
						<img src="assets/no_img.png">
					<% } %>
					</div>
					<div class="series-name">
						<h5><%- element.name %></h5>
						<button class="add mui-btn mui-btn-primary">Add to collection</button>
					</div>
					<div class="clear"></div>
				</li>
			<% }); %>
		</ul>
	</script>
	<script type="text/javascript" src="js/production.js"></script>
</body>
</html>